# Django configuration
SECRET_KEY=H0P27c0XHqvWJ097A9H4zfyBAh2HEj0d
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

# Redis setup
REDIS_HOST=redis

# PostgreSQL setup
POSTGRES_DB=anonchat
POSTGRES_USER=postgres
POSTGRES_PASSWORD=securepassword123
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Frontend (if needed)
NEXT_PUBLIC_API_URL=/api
NEXT_PUBLIC_WS_URL=/ws
